<!--
  Generated template for the PageAnimalEncontradoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Postar animal perdido</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="info-pet-encontrado">
    <ion-label text-wrap>Preencha abaixo as informações com as caracteristicas do animal, usamos essas informações para
      facilitar o encontro do seu animal. Marque as opções que melhor se apliquem às caracteristicas.</ion-label>
  </div><br>
  <div class="info-pet-caract">
    <ion-item no-lines>
      <ion-label floating>
        <ion-icon name='create'>
        </ion-icon> Nome do pet*
      </ion-label>
      <ion-input type="text" [(ngModel)]="nomePet"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label>Espécie do animal *</ion-label>
      <ion-select [(ngModel)]="especie" multiple="false">
        <ion-option>Cachorro</ion-option>
        <ion-option>Gato</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines>
      <ion-label>Porte do animal *</ion-label>
      <ion-select [(ngModel)]="porte" multiple="false">
        <ion-option>Pequeno</ion-option>
        <ion-option>Médio</ion-option>
        <ion-option>Grande</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines>
      <ion-label>Cor do animal *</ion-label>
      <ion-select [(ngModel)]="cor" multiple="false">
        <ion-option>Preto</ion-option>
        <ion-option>Branco</ion-option>
        <ion-option>Amarelo</ion-option>
        <ion-option>Cinza</ion-option>
        <ion-option>Bicolor</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines>
      <ion-label>Possui manchas no pelo?</ion-label>
      <ion-select [(ngModel)]="manchas" multiple="false">
        <ion-option>Sim</ion-option>
        <ion-option>Não</ion-option>
      </ion-select>
    </ion-item><br>
    <ion-item no-lines>
      <ion-label text-wrap> Defina abaixo um raio de cobertura que deseja ser informado.
        O raio padrão é 20km.
      </ion-label>
      <ion-range min="0" max="200" pin="true" [(ngModel)]="raio">
        <ion-icon range-left small name="locate"></ion-icon>
        <ion-icon range-right name="locate"></ion-icon>
      </ion-range>

    </ion-item>
    <h2 style="text-align: center">Raio de cobertura: {{raio}} km</h2>
    <img *ngIf="fotoTirada != undefined" class="foto-class" src="{{fotoTirada}}">
    <!-- <button *ngIf="fotoTirada == undefined" ion-button round (click)="onTakePicture()" style="margin: auto 23%;">Adicionar foto</button> -->
  </div><br>
  <button ion-button round full (click)="salvarPostagem()">Confirmar postagem</button>
</ion-content>