page-page-animal-perdido {
    .foto-class {
        margin: 0 28%;
        width: 65%;
        border: 2px solid rgb(0, 0, 0);
        border-color: #1B8CAD;
        border-radius: 10px;
      }
      .info-pet-encontrado {
        border: 2px solid rgb(0, 0, 0);
        border-color: #1B8CAD;
        border-radius: 6px;
        font-family: fantasy;
      }
      .info-pet-caract {
        border: 2px solid rgb(0, 0, 0);
        border-color: #1B8CAD;
        border-radius: 6px;
      }
    }
    