page-home {
    #welcome{
        background: color($colors, danger);
        h1{
            color: #FFB0A2;
            font-size: 52px;
            margin-top:50px
        }
        div{
            color: white;
        }
        .marginTop{
            margin-top:150px;
        }
        .logo{
            height: 120px;
            
        }
    }
    }
    