page-page-inicial {
  .cor-segment {
    color: white;
  }
  .fab-position {
    margin: 100% auto;
  }
  .modalsize {
    background-color: white;
    width: 65%;
    height: 58%;
    top: 38%;
    left: 17%;
    right: 5%;
    bottom: 5%;
    border-radius: 5%;
  }
  .imagem-animal{
    height: 44.5%;
  }
  .blur-background{
    -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  }
}
