page-page-apresentacao {
    .toolbar-background {
        background: #fff;
        border-color: transparent;
      }
    
      .slide-zoom {
        height: 100%;
      }
    
      .slide-title {
        margin-top: 2.8rem;
      }
      .slide-image2{
        max-height: 80%;
        max-width: 90%;
        margin: -30px 0;
        zoom: 0.7;
      }
    
      .slide-image {
        max-height: 80%;
        max-width: 90%;
        margin: -40px 0;
      }
      .icon-add-presentation1 {
        margin: -200px 0px 31px 260px;
        zoom: 0.5;
      }
      .icon-add-presentation2 {
        margin: -150px 0px 31px 500px;
        zoom: 0.3;
      }
      .icon-add-presentation2 {
        margin: -140px 0px 31px 500px;
        zoom: 0.3;
      }
      .title1{
        text-align: left;
      }
      .title2{
        text-align: left;
      }
    
      b {
        font-weight: 500;
      }
    
      p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
    
        b {
          color: #000000;
        }
      }
    
    }


